<article>
  <header>
    <h1>About me</h1>
    
    <style type="text/css">
    #wrap {
       width:800px;
       margin:0 auto;
    }
    #left_col {
       float:left;
       width:200px;
    }
    #right_col {
       float:right;
       width:600px;
    }
    </style>
    
    <div id="wrap">
      <div id="left_col">
        <img src="pic1.png" class="inline" width="161" height="266"/>
      </div>
      <div id="right_col">
        <p>Hello ! I'm Carlo Wiesse.
          I love drones and how these compact flying companions can provide information about their surroundings to help us solve so many problems.\nThe topic of my Master's thesis was learning-based visual-inertial localization systems for autonomous drones.\nFinally, I always look forward to joining a team of motivated and talented individuals. When I started my Master's, that team was the university robotics team. We won many national and international competitions together. So now I wish to join a new team as I believe we can achieve great things together.</p>
      </div>
    </div>
    <h1>{{ include.title | default: page.title }}</h1>
  </header>
  <ul class="archive">
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
