<article>
  <header>
    <h1>Carlo Wiesse</h1>
    <table rules="none" style="width: 100%">
      <tr>
        <th style="width:30%">
          <img src="pic1.png" class="inline" width="181" height="286"/>
        </th>
        <th>
          <p>I love drones and how these compact flying companions can provide information about their surroundings to help us solve so many problems. The topic of my Master's thesis was learning-based visual-inertial localization systems for autonomous drones. I always look forward to joining a team of motivated and talented individuals. When I started my Master's, that team was the university robotics team. We won many national and international competitions together. So now I wish to join a new team as I believe we can achieve great things together.</p>
        </th>
      </tr>
    </table>
    <h1>{{ include.title | default: page.title }}</h1>
  </header>
  <ul class="archive">
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
